{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block content %}
<div class="wrap col-12 m-0 p-0 ">
    <input type="hidden" id='cat' value="{{ sub_category_type.sub_category.category.id }}">
    <input type="hidden" id='sub_cat' value="{{ sub_category_type.sub_category.id }}">
    <input type="hidden" id='sub_cat_type' value="{{ sub_category_type.id }}">
    
    <div class="col-12 mx-auto ml-0 mr-0 p-0 mt-2 row product_box d-flex align-items-start">
            <div class="col-md-6 mx-auto text-center row ">
                {% load thumbnail %}
                {% thumbnail product.image "1280" crop='center' format="WEBP"  as im %}
                <a href="{{ MEDIA_URL }}{{ im }}" data-lightbox="{{ product.id }}" data-title="{{ product.name }}"
                    class="mx-auto text-center p-0 m-0 mt-2 col-12" title="Link do dużego zdcjęcia {{ product.name }}">
                    <source srcset="{{ im }}" type="image/webp">
                    {% thumbnail  product.image "800x600" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <img class="img-fluid mx-auto m-1" src="{{ MEDIA_URL }}{{ im }}" alt="{{ product.alt}}"
                        title="{{ product.title }}">
                    {% endthumbnail %}
                </a>
                {% endthumbnail %}

                {% for image in product.images %}
                {% load thumbnail %}
                {% thumbnail image.image "1280" crop='center' format="WEBP"  as im %}
                <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="{{image.product.id}}" data-title="{{image.product.name}}"
                    class="mx-auto text-center p-0 m-0 mt-2" title="Galeria zdjęć produktu {{image.product.name}}">
                    <source srcset="{{ im }}" type="image/webp">
                    {% thumbnail  image.image "75x75" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <img class="img-fluid mx-auto m-1 border" src="{{ MEDIA_URL }}{{im}}" alt="{{image.alt}}"
                        title="{{image.title}}">
                    {% endthumbnail %}
                </a>
                {% endthumbnail %}
                {% empty %}
                <small class="ml-auto pr-1 col-12 text-right">Brak zdjęć</small>
                {% endfor %}
            </div>
            <div class="col-md-6 mx-auto text-center row d-flex align-items-start">
                <p class="productName col-12 mx-auto text-left align-self-start">{{product.name}}</p>
                <blockquote class="col-12 mx-auto row d-flex align-items-center ">
                    {% if product.is_news %}
                        <div class="boxNovelty smallBox ">NEW</div>
                        {% endif %}
                        {% if product.discount > 0 %}
                        <div class="boxPromo smallBox bg-danger m-2">{{ product.discount }}%</div>
                        {% endif %}
                    <p class="producerPrice text-center text-danger m-0 pr-2 ">{{ product.price_promo}} zł</p>
                    {% if product.price_promo != product.price %}
                    <p class="text-center m-0 p-0 "><del>{{ product.price}} zł</del></p>
                    {% endif %}
                    
                </blockquote>
                <div class="col-12 row text-left mx-auto">
                    <span class="font-weight-bold pr-2">Producent:</span> <span class="">{{ product.brand.name }}</span>
                </div>
                <div class="col-12 row text-left mx-auto">
                    <span class="font-weight-bold pr-2">Ilość:</span> 
                    {% if product.qty > 0 %}
                    <span class="text-success">dostępny</span>
                    <div class="col-12 ml-0 pl-0 row text-left mx-auto">
                        <span class="font-weight-bold pr-2">Wysyłka:</span> <span class="">2-3 dni</span>
                    </div>
                    {% else %}
                    <span class="text-danger">brak</span>
                    {% endif %}
                </div>
                <div class="col-12 row text-left mx-auto">
                    <span class="font-weight-bold pr-2">Magazyn:</span> <span class=""> {{ product.store.city }}</span>
                </div>
                <form action="" class="row col-12 mx-auto text-left">
                    {% csrf_token %}
                    <input type="hidden" name="" id="prod_id" value="{{product.id}}">
                    <div class="row text-left d-flex align-items-center m-0 p-0">
                        <input id="qty" name="qty" class="mx-auto text-left m-0 p-0 mr-2" value="1" type="number" min="1" max="{{ product.qty }}">
                        <span class="mx-auto text-left pl-2">szt.</span>
                    </div>
                    <button id="add_product" class="addtobasket btn btn-outline-danger ml-auto" type="button">
                        <span>Do koszyka</span>
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>
            </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static "js/products.js" %}" type="text/javascript"></script>
{% endblock %}