{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load rest_framework %}


{% block head_shop %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:type" content="product" />

{% if sub_cat %}
<meta property="og:url" content="{{ get_domain }}{{ sub_category_type.get_absolute_url }}" />
<meta property="product:category" content="{{ sub_category_type.name }}">
<meta property="og:title" content="{{ sub_category_type.meta_title }}" />
<meta property="og:description" content="{{ sub_category_type.meta_description }}" />
<meta property="og:image" content="{{ MEDIA_URL }}{{ sub_category_type.image }}" />

<link rel="canonical" href="{{ get_domain }}{{ sub_category_type.get_absolute_url }}"/>
<meta name="description" content="{{ sub_category_type.meta_description }}">
<title>{{ sub_category_type.meta_title }}</title>
{% else %}
<meta property="og:url" content="{{ get_domain }}/produkty" />
<meta property="og:title" content="Produkty w ofercie sklepu internetowego serwiswrybnej.pl"/>
<meta property="og:description" content="Lista produktów w sklepie internetowym seriwswrybnej.pl" />
<meta property="og:image" content="{{ MEDIA_URL }}{{ logo.image }}" />

<link rel="canonical" href="{{ get_domain }}/produkty"/>
<meta name="description" content="Lista produktów w sklepie internetowym seriwswrybnej.pl">
<title>Sklep internetowy | serwiswrybnej.pl</title>
{% endif %}
{% endblock %}

{% block content_shop %}
    <input type="hidden" id='cat' value="{{ sub_category_type.sub_category.category.id }}">
    <input type="hidden" id='sub_cat' value="{{ sub_category_type.sub_category.id }}">
    <input type="hidden" id='sub_cat_type' value="{{ sub_category_type.id }}">
    <div class="col-12 mx-auto ml-0 mr-0 p-0 mt-3 row d-flex align-items-start offer">
        {% if sub_cat %}
        <h1 class="col-12 mx-auto text-left">Produkty z kategorii: {{ sub_cat.name }}</h1>
        {% else %}
        {% if sub_category_type %}
        <nav class="col-12 mx-auto " aria-label="breadcrumb" >
            <ol class="breadcrumb breadcrumb_element bg-white row" itemscope itemtype="https://schema.org/BreadcrumbList">
              <a href="{{ sub_category_type.sub_category.get_absolute_url }}" itemprop="item" class=" border border-breadcrumb rounded p-1 m-1" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem"><span itemprop="name">{{ sub_category_type.sub_category.name }}</span><meta itemprop="position" content="1" /></a>
              <span class="p-1 m-1">/</span>
              <a href="{{ sub_category_type.get_absolute_url }}" itemprop="item" class=" border border-breadcrumb rounded p-1 m-1" itemprop="itemListElement" itemscope
              itemtype="https://schema.org/ListItem"><span itemprop="name">{{ sub_category_type.name }}</span><meta itemprop="position" content="2" /></a>
            </ol>
          </nav>
          {% endif %}
          {% if sizes %}
          <nav class="col-12 mx-auto" aria-label="breadcrumb" >
            <ol class="breadcrumb bg-white row" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for size in sizes %}
            <form action="" method="GET" class="row m-0 p-0 breadcrumb_element" itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
                <button type="submit" name="typ" value="{{size.pk}}" class="breadcrumb_element bg-white border border-breadcrumb rounded p-1 m-1" itemprop="item"><span itemprop="name">{{ size.name }}</span><meta itemprop="position" content="{{ forloop.counter }}" /></button>
            </form>
                {% endfor %}
            </ol>
          </nav>
          {% endif %}
        <h1 class="col-12 mx-auto text-left">{{ sub_category_type.name }}</h1>
        {% endif %}
        
        {% for product in object_list %}
        <div itemscope itemtype="http://schema.org/Product" class="col-6 col-sm-4 col-xl-3 p-0 ml-0 mr-0 product ">
            <div id="showOption" class="col-12 row mx-auto d-flex align-items-center">
                <form id="form" action="{% url 'add_product' %}" method="POST" class="col-12 row m-0 p-0">
                    {% csrf_token %}
                    <input type="hidden" name="" id="prod_id" value="{{product.id}}">
                 <input id="qty" name="qty" type="hidden" value="1">
                 <a itemprop="url" href="{{ product.get_absolute_url }}" class="col-10 text-white align-self-stretch col-6 mx-auto d-flex align-items-center text-decoration-none text-center" style="height: 40px;">
                    <i class="fas fa-info-circle text-white align-self-center mx-auto col-12 m-0 p-0 "><span class="p-2 m-2">Details</span></i>
                </a>
                </form>
            </div>
            <div class="col-12 mx-auto text-center row">
                {% if product.is_news %}
                <div class="boxNovelty smallBox m-2">NEW</div>
                {% else %}
                <div class="smallBox m-2"></div>
                {% endif %}
                {% if product.discount > 0 %}
                <div class="boxPromo smallBox bg-danger m-2">{{ product.discount }}%</div>
                {% else %}
                <div class="smallBox m-2"></div>
                {% endif %}
            </div>
        <div class="col-12 m-2 mx-auto text-center">
            {% load thumbnail %}
            {% thumbnail product.image "200x200" crop='center' format="WEBP"  as im %}
            <img itemprop="image" src="{{ MEDIA_URL }}{{ im }}" class="img-thumbnail mx-auto col-12 m-0 p-0" alt="{{ product.alt }}" title="{{ product.title }}">
            {% endthumbnail %}
        </div>
            <p itemprop="name" class="productName col-12 mx-auto text-center text-uppercase">{{product.name}}</p>
            <span itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="col-12 m-0 p-0 mx-auto text-center">
                <p itemprop="name" class="producerName col-12 mx-auto text-center">{% if product.brand %}{{product.brand}}{% endif %}</p>
            </span>
            <blockquote class="col-12 mx-auto row d-flex align-items-center">
            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="producerPrice mx-auto text-center text-danger  m-0 p-0"><span itemprop="price">{{ product.price_promo}}</span> zł</p>
            {% if product.price_promo != product.price %}
            <p class="mx-auto text-center m-0 p-0"><del>{{ product.price}} zł</del></p>
            {% endif %}
            <small class="col-12 mx-auto text-center text-primary  m-0 p-0">Netto: {{product.price_netto}} + VAT 23%</small>
            {% if product.qty > 0 %}
                <div class="col-12 text-center m-1 mx-auto"><small class="text-success">Dostępny</small></div>
                <link itemprop="availability" href="https://schema.org/InStock" />
            {% else %}
            <div class="col-12 text-center m-1 mx-auto"><small class="text-danger">Niedostępny</small></div>
            <link itemprop="availability" href="https://schema.org/OutOfStock" />
            {% endif %}
            </blockquote>
        </div>
        {% empty %}
        <p class="col-12 mx-auto text-left">Wybierz kategorię w menu</p>
        {% endfor %}
    </div>
    <div class="col-12 input-group mb-3 mt-3 mx-auto text-center pagination">
        <div class=""></div>
        <div aria-label="..." class="row col-12 m-0 p-0 justify-content-center mx-auto text-center">
        <span class="step-links">
        <ul class="pagination row text-dark pagination pagination-lg flex-wrap text-wrap mx-auto text-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page=1">&laquo; Początek</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">prev.</a>
            </li>
            {% endif %}

            <li class="page-item text-light active">
                <span class="page-link text-white">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item text-dark">
                <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">next.</a>
            </li>
            <li class="page-item text-dark">
                <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">Koniec &raquo;</a>
            </li>
            {% endif %}
        </ul>
        </span>
        </div>
    </div>
    
{% endblock %}


{% block script_shop %}
{% endblock %}


