{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load social_share %}


{% block head_shop %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="{{ get_domain }}{{ object.get_absolute_url }}"/>
<meta property="og:type" content="product" />
<meta property="og:title" content="Produkt {{ object.name }} | z kategorii {{ object.sub_category_type.sub_category.category.name }}" />
<meta property="og:description" content="{{ object.desc }}" />
<meta property="og:image" content="{{ MEDIA_URL }}{{ object.image }}" />


<link href="/static/lightbox/dist/css/lightbox.css" rel="stylesheet" />
<link rel="canonical" href="{{ get_domain }}{{ object.get_absolute_url }}"/>
<meta name="description" content="{{ object.seo_tag_description }} o nazwie {{ object.name }}">
<title>Produkt {{ object.name }} | marki {{ object.brand.name }}</title>
{% endblock %}

{% block content_shop %}
<div class="wrap col-12 m-0 p-0 ">
    <input type="hidden" id='cat' value="{{ object.sub_category_type.sub_category.category.id }}">
    <input type="hidden" id='sub_cat' value="{{ object.sub_category_type.sub_category.id }}">
    <input type="hidden" id='sub_cat_type' value="{{ object.sub_category_type.id }}">
    
    <div class="col-12 mx-auto ml-0 mr-0 p-0 mt-2 row product_box d-flex align-items-start">
        <div class="col-md-6 mx-auto text-center row ">
            {% load thumbnail %}
            {% thumbnail object.image "1280" crop='center' format="WEBP"  as im %}
            <a href="{{ MEDIA_URL }}{{ im }}" data-lightbox="{{ object.id }}" data-title="{{ object.name }}"
                class="mx-auto text-center p-0 m-0 mt-2 col-12" title="Link do dużego zdcjęcia {{ object.name }}">
                {% thumbnail  object.image "800x600" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto m-1" src="{{ MEDIA_URL }}{{ im }}" alt="{{object.seo_tag_description}}" 
                    title="{{ object.title }}">
                {% endthumbnail %}
            </a>
            {% endthumbnail %}

            {% for image in object.images %}
            {% load thumbnail %}
            {% thumbnail image.image "1280" crop='center' format="WEBP"  as im %}
            <a href="{{ MEDIA_URL }}{{ im }}" data-lightbox="{{ image.product.id }}" data-title="{{ image.product.name}}"
                class="mx-auto text-center p-0 m-0 mt-2" title="Galeria zdjęć produktu {{image.object.name}}">
                {% thumbnail  image.image "150" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto m-1 border" src="{{ MEDIA_URL }}{{ im }}" alt="{{image.alt}}" title="{{image.title}}">
                {% endthumbnail %}
            </a> 
            {% endthumbnail %}
            {% empty %}
            <small class="ml-auto pr-1 col-12 text-center">Brak zdjęć w galerii</small>
            {% endfor %}
        </div>
        <div class="col-md-6 mx-auto text-center row d-flex align-items-start">
            
            <div class="col-12 text-right">
                <div class="fb-share-button" data-href="{{ get_domain }}{{ object.get_absolute_url }}" data-layout="button_count">
                </div>
            </div>
            
            <h1 class="productName col-12 mx-auto text-center align-self-start">{{object.name}}</h1>
            <blockquote class="col-12 mx-auto row d-flex align-items-center ">
                {% if object.is_news %}
                    <div class="boxNovelty smallBox ">NEW</div>
                {% endif %}
                {% if object.discount > 0 %}
                    <div class="boxPromo smallBox bg-danger m-2">{{ object.discount }}%</div>
                {% endif %}
                <div class="col-12 row m-0 p-0 mt-3">
                    <p class="producerPrice text-center text-danger m-0 pr-2 ">{{ object.price_promo}} zł</p>
                        {% if object.price_promo != object.price %}
                    <p class="text-center m-0 p-0 "><del>{{ object.price}} zł</del></p>
                        {% endif %}
                </div>
                <small class="col-12 mx-auto text-left text-primary  m-0 p-0">Netto: {{object.price_netto}} + VAT 23%</small>
            </blockquote>
            <div class="col-12 row text-left mx-auto">
                <span class="font-weight-bold pr-2">Producent:</span> <small class="m-0 p-0 pl-3 text-dark text-center">{{ object.brand.name }}</small>
            </div>
            <div class="col-12 row text-left mx-auto d-flex align-items-center">
                <span class="font-weight-bold pr-2">Kategoria:</span><small class="m-0 p-0 pl-3 text-dark text-center">{{ object.sub_category_type.sub_category.category.name }}</small>
            </div>
            <div class="col-12 row text-left mx-auto d-flex align-items-center">
                <span class="font-weight-bold pr-2">Podkategoria:</span><small class="m-0 p-0 pl-3 text-dark text-center text-dark text-center">{{ object.sub_category_type.sub_category.name }}</small>    
            </div>
            <div class="col-12 row text-left mx-auto d-flex align-items-center">
                <span class="font-weight-bold pr-2">Typ produktu:</span><small class="m-0 p-0 pl-3 text-dark text-center text-dark text-center">{{ object.sub_category_type.name }}</small>    
            </div>
            <div class="col-12 row text-left mx-auto">
                <span class="font-weight-bold pr-2">Ilość:</span> 
                {% if object.qty > 0 %}
                <span class="text-success">dostępny</span>
                <div class="col-12 ml-0 pl-0 row text-left mx-auto">
                    <span class="font-weight-bold pr-2">Wysyłka:</span> <span class="">2-3 dni</span>
                </div>
                {% else %}
                <span class="text-danger">brak</span>
                {% endif %}
            </div>
            <div class="col-12 row text-left mx-auto">
                <span class="font-weight-bold pr-2">Magazyn:</span> <span class=""> {{ object.store.city }}</span>
            </div>
            <form action="" class="row col-12 mx-auto m-1 text-left d-flex align-items-center">
                {% csrf_token %}
                <input type="hidden" name="" id="prod_id" value="{{object.id}}">
                <div class="row text-left d-flex align-items-center m-0 p-0">
                    <input id="qty" name="qty" class="mx-auto text-left m-0 p-0 mr-2" value="1" type="number" min="1" max="{{ object.qty }}">
                    <span class="mx-auto text-left pl-2">szt.</span>
                </div>
                {% if object.qty > 0 %}
                    <span id="add_product" class="input-group-append ml-auto d-flex align-items-center" data-toggle="modal"
                    data-target="#exampleModal{{object.id}}">
                        <button class="btn btn-success ml-2" type="button" data-action="add">
                        <i class="basket fa fa-cart-plus"></i> Dodaj produkt</button>
                    </span>
                {% else %}
                    <span id="" class="input-group-append ml-auto d-flex align-items-center">
                        <button class="btn btn-secondary ml-2" type="button">Brak produktu</button>
                    </span>
                    {% endif %}
            </form>
        </div>
        
        <div class="col-12 mx-auto mt-3 mb-2">
            <p class="col-12 text-left">{{ object.desc|safe }}</p>
        </div>
        <div class="modal fade" id="exampleModal{{object.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content p-0 m-0 col-12">
                        <div class="modal-header d-flex align-items-center row col-12 mx-auto p-2 m-0">
                            <div class="col-12 row mx-auto m-0 p-0 d-flex align-items-center">
                                <i class="fas fa-clipboard-check"></i>
                                <h5 class="modal-title ml-1 col-12 mx-auto text-center" id="exampleModalLabel">Produkt dodano do koszyka</h5>
                            </div>
                            <div class="col-12 row d-flex align-items-center">
                                <span class="">Nazwa:</span>
                                <p class="p-0 m-0 ml-1">{{object.name}}</p>
                            </div>
                            {% if object.color.name %}
                            <div class="col-12 row d-flex align-items-center">
                                <span class="">Kolor obudowy:</span>
                                <p class="p-0 m-0 ml-1 {{object.color.class_text}}">{{object.color.name}}</p>
                            </div>
                            {% endif %}
                            <div class="col-12 row d-flex align-items-center">
                                <span class="">Ilość:</span>
                                <p id="add_qty" class="p-0 m-0 ml-1"></p>
                            </div>
                            <div class="col-12 mt-2 mx-auto row d-flex align-items-center">
                                <span class="basket">KOSZYK</span>
                                <a href="{% url 'cart_details' %}" class="col-4 row m-0 p-0 ml-auto text-decoration-none">
                                    <button type="button" class="col-12 btn btn-outline-success  m-1 p-1 row">
                                        <i class="text-center mx-auto fas fa-shopping-basket"></i>
                                        Koszyk
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 mt-2 row d-flex align-items-center">
                                <span class="">Ilość produktów w koszyku:</span>
                                <p id="len_modal" class="p-0 m-0 ml-1">{{cart|length}}szt.</p>
                            </div>
                            <div class="col-12 mt-2 row d-flex align-items-center">
                                <span class="">Kwota brutto:</span>
                                <p id="total_price_modal" class="p-0 m-0 ml-1">{{cart.get_total_price}}</p>
                            </div>
                        </div>
                        <div class="modal-body">
                        <div class="col-12 row m-0 p-0">
                            <a href="{% url 'shop_main_view' %}" class="col-5 m-0 p-0">
                                <button type="button"
                                    class="btn btn-outline-success mx-auto  m-1 p-1">Kontynuuj zakupy</button>
                            </a>
                            <button type="button" class="btn btn-outline-secondary mx-auto col-5 m-1 p-1 row">
                                <i class="fas fa-cogs"></i>
                                <span class="">Utwórz projekt</span>
                            </button>
                            <button type="button" class="btn btn-danger ml-auto mx-auto m-1 p-1 col-5"
                                data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if user.is_superuser %}
<div class="col-12 m-0 p-0 mx-auto row">
    <h3 class="col-12">Zdjęcie główne</h3>
    <div class="alert alert-success col-12" role="alert">
        <form method="post" name="photo_main" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_m_form.as_p }}
            <button type="submit" name="photo_main" value="True">Ustaw zdjęcię</button>
        </form>
    </div>
    <h3 class="col-12">Zdjęcie na galerie</h3>
    <div class="alert alert-success col-12"  role="alert">
        <form method="post" name="photo_gallery" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_g_form.as_p }}
            <button type="submit" name="photo_gallery" value="True">Ustaw zdjęcię na galerię</button>
        </form>
    </div>
    <h3 class="col-12">Dodaj szczegóły</h3>
    <div class="alert alert-success"  role="alert">
        <form method="post" name="add_details" enctype="multipart/form-data">
            {% csrf_token %}
            {{ details_form.as_p }}
            <button type="submit" name="add_details" value="True">Ustaw szczegóły</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}


{% block script %}
<script src="/static/lightbox/dist/js/lightbox.js"></script>
<script>
    lightbox.option({
        'albumLabel': "Zdjęcie %1 z %2"
    })
</script>
<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>
{% load compress %}
{% compress js %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "object",
      "name": "{{ object.name }}",
      "image": ["{{ get_domain }}{{ MEDIA_URL }}{{object.image}}", {% for image in object.images %} "{{ get_domain }}{{ MEDIA_URL }}{{image.image}}",{%endfor%}],
      "description": "{{ object.description }}",
      "brand": {
        "@type": "Brand",
        "name": "{{ object.brand.name }}"
                },
      "offers": {
        "@type": "Offer",
        "url": "{{ get_domain }}{{ object.get_absolute_url }}",
        "priceCurrency": "PLN",
        "price": "{{ object.price_promo }}",
        "itemCondition": "https://schema.org/NewCondition",
        {% if object.qty > 0 %}"availability": "https://schema.org/InStock"{% else %}"availability": "https://schema.org/OutOfStock"{% endif %}
                }
    }
    </script>
    {% endcompress %}
{% endblock %}

