{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="{{ get_domain }}{{ sub_category.get_absolute_url }}" />
<meta property="og:type" content="product" />
<meta property="product:category" content="{{ sub_category }}">
<meta property="og:title" content="{{ sub_category.meta_title }}" />
<meta property="og:description" content="{% if sub_category.meta_description %}{{ sub_category.meta_description }}{% else %}Produkty w kategorii {{ sub_category.name }}{% endif %}}" />
<meta property="og:image" content="{{ MEDIA_URL }}{{ sub_category.image }}" />

<link rel="canonical" href="{{ get_domain }}{{ sub_category.get_absolute_url }}"/>
<meta name="description" content="{{ sub_category.meta_description }}">
<title>{{ sub_category.meta_title }}</title>
{% endblock %}

{% block content %}
    <input type="hidden" id='cat' value="{{ sub_category.category.id }}">
    <input type="hidden" id='sub_cat' value="{{ sub_category.id }}">
    <input type="hidden" id='sub_cat_type' value="{{ sub_category.sub_category_type.id }}">
    

    <div class="col-12 mx-auto m-0 p-0" style="background-color: black;">
        {% load thumbnail %}
        {% thumbnail sub_category.image "1280x400" crop='center' format="WEBP"  as im %}
        <img src="{{ MEDIA_URL }}{{ im }}" class="img-thumbnail mx-auto col-12 m-0 p-0 img_carousel" alt="{{ sub_category.alt}}" title="{{ sub_category.title }}">
        {% endthumbnail %}
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ sub_category.title }}</h2>
          <p>{{ sub_category.description }}</p>
        </div>
    </div>
    <div class="col-12 col-md-9 mx-auto ml-0 mr-0 p-0 offer mt-2 row">
        <div class="col-12 mt-3 max-auto">
            <h2 class="col-12 row">{{ sub_category.name }}</h2>
        {% if sub_category %}
        <nav class="col-12 mx-auto" aria-label="breadcrumb" >
            <ol class="breadcrumb bg-white bg-white d-flex align-items-start col-12 m-0 p-0 mx-auto row">
                {% for sub_cat_type in sub_category.sub_cat_type %} 
                        <li class="col-5 col-md-2 p-1 m-1 row breadcrumb_element border border-breadcrumb rounded text-center">
                        <a class="col-12 mx-auto sub_cat_type_title" href="{{ sub_cat_type.get_absolute_url }}">{{ sub_cat_type.name }}</a>
                        {% if sub_cat_type.image %} 
                            {% load thumbnail %}
                            {% thumbnail sub_cat_type.image "100x150" crop='center' format="WEBP"  as im %}
                            <a class="col-12 mx-auto" href="{{ sub_cat_type.get_absolute_url }}">
                                <img src="{{ MEDIA_URL }}{{ im }}" class="mx-auto text-center" alt="{{ sub_cat_type.alt }}" title="{{ sub_cat_type.title }}">
                            </a>
                            {% endthumbnail %}
                        {% endif %}
                        </li>
                 {% endfor %}
                 {% endif %}
            </div>
            </ol>
          </nav>
    
    <div class="col-12 mx-auto ml-0 mr-0 p-0 row d-flex align-items-start offer mt-5">
        <div class="col-12 mt-1 max-auto">
            {{ sub_category.desc|safe|escape }}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
    [
        {
       "@type": "ListItem",
       "position": 1,
       "item":
            {
            "@id": "{{ get_domain }}{% url 'front_page' %}",
            "name": "Strona główna"
            }
        }
        {% if sub_category %}
        ,
        {
        "@type": "ListItem",
        "position": 2,
        "item":
            {
            "@id": "{{ get_domain }}{% url 'shop_main_view' %}",
            "name": "Sklep On-line"
            }
        },
        {% for sub_cat_type in sub_category.sub_cat_type %} 
        {
            "@type": "ListItem",
            "position": {{ forloop.counter|add:2 }},
            "item":
                {
                "@id": "{{ get_domain }}{{ sub_cat_type.get_absolute_url }}",
                "name": "{{ sub_cat_type.name }}"
                }
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
     ]
    }
    </script>
{% endblock %}