asgiref==3.5.0
autopep8==1.6.0
black==22.3.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cssselect2==0.5.0
Deprecated==1.2.13
Django==4.0.3
django-appconf==1.0.5
django-clearcache==1.2.1
django-compressor==3.1
django-cors-headers==3.11.0
django-crispy==1.8.1
django-crispy-forms==1.14.0
django-recaptcha==3.0.0
django-redis==5.2.0
django-resized==0.3.11
django-social-share==2.2.1
djangorestframework==3.13.1
flake8==4.0.1
fonttools==4.31.2
html5lib==1.1
idna==3.3
isort==5.10.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
Pillow==9.1.0
platformdirs==2.5.1
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pydyf==0.1.2
pyflakes==2.4.0
pyparsing==3.0.7
pyphen==0.12.0
pytz==2022.1
rcssmin==1.1.0
redis==4.1.4
requests==2.27.1
rjsmin==1.2.0
six==1.16.0
sorl-thumbnail==12.8.0
sqlparse==0.4.2
stripe==2.70.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.9
weasyprint==54.2
webencodings==0.5.1
wrapt==1.13.3
zopfli==0.2.1
