{% load static %}
{% load templatetag %}
<!DOCTYPE html>
<!-- Znaczniki mikrodanych dodane przez Asystenta do oznaczania danych Google. -->
<html lang="pl">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TMZLLG9YZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7TMZLLG9YZ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link async rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link async rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/logo/favicon.ico" type="image/x-icon">
    {% load compress %}
    {% compress css %}
    <link rel="preload" rel="stylesheet" href="/static/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <link rel="preload" async rel="stylesheet" href="/static/css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    {% endcompress %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <main class="container-fluid m-0 p-0">
        <header id="top" class="top col-12 m-0 p-0 pt-3 row">
            {% load thumbnail %}
            {% thumbnail logo.image "75x75" crop='center' format="WEBP" as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <img id="mainLogo" class="img-fluid mx-auto m-1 border" src="{{ MEDIA_URL }}{{im}}"
                alt="Logo firmy serwiswrybnej.pl - siedziba" title="{{ im.title }}">
            {% endthumbnail %}
            <div class="d-none d-lg-block wrapHeader col-12 m-0 p-0">
                <div class="col-10 mx-auto text-center row d-flex align-items-center">
                    <div class="col-6 col-sm-7 col-md-8 col-xl-9">
                    </div>
                    <div
                        class="col-6 col-sm-5 col-md-4 col-xl-3 row d-flex align-items-center mx-auto d-flex justify-content-center">
                        {% if user.is_authenticated %}
                        <a class="link col-6 row mx-auto text-center row d-flex align-items-center text-white d-flex justify-content-center text-decoration-none"
                            href="{% url "user_account" %}">
                            <span class="text-center">Moje konto</span>
                            <i class="ml-2 fas fas fa-user text-success text-center"></i>
                        </a>
                        <a class="link col-6 mx-auto text-center row d-flex align-items-center text-white d-flex justify-content-center text-decoration-none"
                            href="{% url "logout" %}">
                            <span class="text-center">Wyloguj</span>
                            <i class="ml-2 fas fa-sign-in-alt text-success text-center"></i>
                        </a>
                        {% else %}
                        <a class="link col-12 mx-auto text-center row d-flex align-items-center text-white d-flex justify-content-center text-decoration-none"
                            href="{% url "login" %}">
                            <span class="text-center">Zaloguj</span>
                            <i class="ml-2 fas fa-sign-in-alt text-success text-center"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-10 mx-auto text-center row d-flex align-items-center">
                    <div class="col-9">
                        <div class="col-12 m-0 p-0 row text-right">
                            <form id="search_form" action="{% url 'search_products' %}" method="POST"
                                class="ml-auto text-right form-inline row">
                                {% csrf_token %}
                                <div id="position" class="row">
                                    <input id="search" class="form-control mr-sm-2" name="search" type="search"
                                        placeholder="Search" aria-label="Search">
                                    <div id="div_link" class="bg-white search_link border row d-none">
                                        <p class="col-12">Wyszukiwarka produktów:</p>
                                        <ul class="align-items-center row col-12 mx-auto" id="link">
                                        </ul>
                                    </div>
                                </div>
                                <button class="m-0 p-0" type="submit"></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-3 row mx-auto d-flex align-items-center d-flex justify-content-center">
                        <a href="{% url 'cart_details' %}" class="col-12 m-0 p-0 row border text-decoration-none">
                            <div
                                class="row col-12 m-0 p-0 text-center mx-auto d-flex align-items-center d-flex justify-content-center">
                                <i class="text-white text-danger fas fa-shopping-basket m-1"></i>
                                <i id="len" class="text-white text-center m-1">{{cart.len}} szt.</i>
                                <i id="total_price"
                                    class="text-white text-center m-1">{{cart.get_total_price|floatformat:2}}
                                    PLN</i>
                            </div>
                        </a>
                    </div>
                </div>
        </header>
        <nav id="nav_main" class="d-lg-none nav col-12 m-0 p-0 d-flex align-items-center bg-white">
            <ul id="nav_main_ul" class="col-12 mx-auto m-0 p-0 row">
                <i id="menu_burger" class="col-3 fas fa-bars text-center m-0 p-0"></i>
                <div class="col-lg-12 m-0 p-0" id="navbarTogglerMenu">
                    <ul itemscope itemtype="https://schema.org/BreadcrumbList" id="nav_menu" class="col-12 row m-0 p-0 overflow-auto">
                        <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col-lg-2 nav-item d-flex align-items-center mx-auto text-center m-0 p-0 row">
                            <a itemprop="item" class="col-10 nav-link text-left mx-auto" href="{% url 'front_page' %}"
                                title="Sklep On-line"><span itemprop="name">Home</span></a><span class="col-2"></span>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                        </li>
                        <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col-lg-2 nav-item d-flex align-items-center mx-auto text-center m-0 p-0 row">
                            <a itemprop="item" class="col-10 nav-link text-left text-danger mx-auto" href="{% url 'shop_main_view' %}"
                                title="Sklep On-line"><span itemprop="name">Sklep On-line</span></a><span class="col-2"></span>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                        </li>
                        {% for category in categorys %}
                        <ul id="cat{{ category.id}}"
                            class="menuToggle col-12 no-wrap nav-item d-flex align-items-center mx-auto text-center m-0 p-0 row"
                            type="button" data-toggle="collapse" data-target="#navbarToggler{{ category.id}}"
                            aria-controls="navbarToggler{{ category.id}}" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span itemprop="name" class="col-7 nav-link text-left mx-auto" href="" title="Pieczątki Colop">{{ category.name }}</span>
                            <meta itemprop="position" content="{{ forloop.counter }}" />
                            {% if category.image %}
                            <div class="col-3 p-0 m-0">
                                <img loading="lazy" src="{{ MEDIA_URL }}{{ category.image }}" height="38px" width="100%"
                                    class="logo_in_menu img-fluid img-thumbnail"
                                    alt="Colop. Producent pieczątek"
                                    title="Colop. Producent pieczątek">
                            </div>
                            {% else %}
                            <span class="col-3"></span>
                            {% endif %}
                            <i id="arrow{{ category.id }}" class="col-2 margin-auto fas fa-arrow-down pr-2 pl-2"></i>
                            <div class="col-12 m-0 p-0 collapse navbar-collapse collapse_menu"
                                id="navbarToggler{{ category.id }}">
                                {% for sub_cat in category.sub_category %}
                                <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col nav-item d-flex align-items-center mx-auto m-0 p-0">
                                    <a itemprop="item" class="col-10 nav-link text-left mx-auto"
                                        href="{% url 'sub_category_products' cat=category.slug sub_cat=sub_cat.slug pk=sub_cat.pk %}"
                                        title=""><span itemprop="name">{{ sub_cat.name}}</span></a>
                                        <meta itemprop="position" content="{{ forloop.counter }}" />
                                </li>
                                {% endfor %}
                            </div>
                        </ul>
                        {% endfor %}
                        <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col-12 nav-item d-flex align-items-center mx-auto m-0 p-0 row">
                            <a itemprop="item" class="col-10 nav-link text-left mx-auto" href="{% url 'articles_list' %}"
                                title="Artukuły bloga"><span itemprop="name">Blog</span></a><span class="col-2"></span>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                        </li>
                        <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col-12 nav-item d-flex align-items-center mx-auto m-0 p-0 row">
                            <a itemprop="item" class="col-10 nav-link text-left mx-auto" href="{% url 'terms' %}"
                                title="Regulamin"><span itemprop="name">Regulamin</span></a><span class="col-2"></span>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                        </li>
                        <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="col-12 nav-item d-flex align-items-center mx-auto m-0 p-0 row">
                            <a itemprop="item" class="col-10 nav-link text-left mx-auto" href="{% url 'contact_page' %}"
                                title="Kontak z restauracją"><span itemprop="name">Kontakt</span></a>
                            <span class="col-2"></span>
                            <meta itemprop="position" content="{{ forloop.counter }}" />
                        </li>
                    </ul>
                </div>
                <i id="SearchFormIcon" class="col-3 main_nav_icon fas fa-search text-center m-0 p-0"></i>
                <form id="SearchForm" class="col-12 m-0 p-0" action="{% url 'search_products' %}" method="POST">
                    <div class="col-12 m-0 p-0 row d-flex align-items-center text-center">
                        <i id="closeSearchInput" class="col-1 p-0 m-0 text-center fas fa-arrow-left text-white"></i>
                        <input id="inputSearch" class="col-9 p-0 m-0 mx-auto" type="text" maxlength="256" name="search">
                        <i id="clearText" class="col-1 p-0 m-0 text-center fas fa-times mx-auto"></i>
                        <div id="div_link_mobile" class="bg-white search_link border row mx-auto">
                            <p class="col-12">Wyszukiwarka produktów:</p>
                            <ul class="d-flex align-items-center row col-12 mx-auto m-0 p-0" id="link_mobile">
                            </ul>
                        </div>
                    </div>
                </form>
                {% if user.is_authenticated %}
                <a href="{% url "user_account" %}" class="col-3 m-0 p-0 text-center">
                    <i class="col-12 main_nav_icon text-success fas fa-user text-center m-0 p-0"></i>
                </a>
                {% else %}
                <a href="{% url "login" %}" class="col-3 m-0 p-0 text-center">
                    <i class="col-12 main_nav_icon text-danger fas fa-user text-center m-0 p-0"></i>
                </a>
                {% endif %}
                <div></div>
                <a class="col-3 m-0 p-0 text-center" href="{% url 'cart_details' %}">
                    <i id="BasketInfo" class="col-3 main_nav_icon fas fa-shopping-cart text-center m-0 p-0 ">
                        <div id="len_mobile" class="dot quantityBasket text-center mx-auto ">{{cart.len}}</div>
                    </i>
                </a>
                <div></div>
            </ul>
        </nav>
        <nav id="nav_main_xl" class="col-12 mx-auto text-center d-none d-lg-block navbar navbar-expand-lg bg-light">
            <div class="col-12 m-0 p-0 mx-auto text-center collapse navbar-collapse" id="navbarSupportedContent">
                <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="navbar-nav mx-auto row m-0 p-0 text-center">
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item active">
                        <a itemprop="item" class="nav-link" href="{% url 'front_page' %}"><span itemprop="name">Home</span><span
                                class="sr-only">(current)</span></a>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                    </li>
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item">
                        <a itemprop="item" class="nav-link text-danger" href="{% url 'shop_main_view' %}"><span itemprop="name">Sklep On-line</span></a>
                        <meta itemprop="position" content="{{ forloop.counter }}" />
                    </li>
                    {% for category in categorys %}
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span itemprop="name">{{ category.name }}</span>
                            <meta itemprop="position" content="{{ forloop.counter }}" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for sub_cat in category.sub_category %}
                            <a itemprop="item" class="dropdown-item"
                                href="{% url 'sub_category_products' cat=category.slug sub_cat=sub_cat.slug pk=sub_cat.pk %}"><span itemprop="name">{{ sub_cat.name }}</span></a>
                                <meta itemprop="position" content="{{ forloop.counter }}" />
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item">
                        <a itemprop="item" class="nav-link" href="{% url 'articles_list' %}"><span itemprop="name">Blog</span></a>
                        <meta itemprop="position" content="{{ forloop.counter }}" />
                    </li>
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item">
                        <a itemprop="item" class="nav-link" href="{% url 'terms' %}" title="Regulamin"><span itemprop="name">Regulamin</span></a><span
                            class="col-2"></span>
                            <meta itemprop="position" content="{{ forloop.counter }}" />
                    </li>
                    <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" class="nav-item">
                        <a itemprop="item" class="nav-link" href="{% url 'contact_page' %}"><span itemprop="name">Kontakt</span></a>
                        <meta itemprop="position" content="{{ forloop.counter }}" />
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page" class="col-12 ml-0 mr-0 p-0">
            {% if messages %}
            <ul class="messages col-12 mt-2 bg-warning">
                {% for message in messages %}
                <li class="{{ message.tags }} col-10 mx-auto text-center">
                    {{ message|safe }}
                    <a href="#" class="close text-danger display-4">x</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="container-fluid footer mx-auto col-12 mt-3">
            <div class="row justify-content-center top-part">
                <div class="col-md-6 text-center center-content">
                    <div class="d-flex-inline">
                        <h3 class="footer-heading">Start projektu - lokalni przedsiębiorcy. Profesjonalne usługi.</h3>
                    </div>
                    <div class="d-flex-inline">
                        <p>Posiadam ponad 20 lat doświadczenia w branży telefonów komórkowych i serwisu. Firmę Miktel
                            założyłem w 2006 roku. Usługi świadczę w miejscu zamieszkania w Rybnej od 2016 roku.<br>
                            Posiadam 100% zadowolonych klientów. Z racji miejsca wykonywania usług, większość moich
                            klientów to mieszkańcy gminy Czernichów, nie rzadko sąsiedzi.<br> Aktualnie ofertę
                            przedstawiam również On-line. <br><strong> Zapraszam. Michał Pielak</strong></p>
                    </div>
                    <div class="d-flex-inline pt-2"> <button class="btn-pink btn">SERWIS W RYBNEJ.PL</button> </div>
                    <div class="col-12 col-md-2 text-right">
                        <div class="fb-share-button" data-href="{{ get_domain }}{{ object.get_absolute_url }}"
                            data-layout="button_count" data-lazy="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="line mb-3 mx-auto"></div>
                <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
                    <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                        <h3>Miktel Michał Pielak</h3> <small>Copyright &copy 2021</small>
                    </div>
                    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                        <h5 class="places">Rybna</h5>
                        <p class="mb-0">Serwis w Rybnej</p>
                        <p class="mb-0">ul. Wspólna 2</p>
                        <p class="mb-0">32-061 Rybna, Poland</p>
                    </div>
                    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                        <h5 class="places">Serwis w Rybnej</h5>
                        <p class="mb-0">Rybna</p>
                        <p class="mb-0">&nbsp;&nbsp;tel: 506 029 980</p>
                        <p class="mb-0">&nbsp;&nbsp;pielak@miktelgsm.pl</p>
                    </div>
                </div>
                <div class="line mb-3 mx-auto"></div>
            </div>
            <div class="row bottom-part">
                <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
                    <div class="p-2 align-self-center flex-fill bd-highlight">
                        <div class="fa fa-facebook px-2"></div>
                        <div class="fa fa-linkedin px-2"></div>
                        <div class="fa fa-twitter px-2"></div>
                        <div class="fa fa-instagram px-2"></div>
                    </div>
                    <div class="p-2 row flex-fill bd-highlight justify-content-left">
                        <div class="p-2 d-lg-flex">
                            <div class="p-2 flex-fill d-flex bd-highlight">Telefony</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Serwis GSM</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Akcesoria GSM</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Pieczątki firmowe</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Dorabianie kluczy</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Immobiliser</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Grawerowanie</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Sklep On-line</div>
                            <div class="p-2 flex-fill d-flex bd-highlight">Usługi</div>
                        </div>
                    </div>
                    <div class="p-2 align-self-center flex-fill bd-highlight">
                        <div class="fa fa-mobile px-2 grey-text">&nbsp;&nbsp;<span id="contact">506 029 980</span></div>
                        <div class="fa fa-envelope-o px-2 grey-text">&nbsp;&nbsp;pielak@miktelgsm.pl</div>
                    </div>
                </div>
                <a class="col-12 mx-auto text-center text-white" href="{% url 'privacy_policy' %}">Polityka
                    prywatności</a>
    </main>
    {% load compress %}
    {% compress js %}
    <script async src="/static/js/jquery.min.js"></script>
    <script async src="/static/js/bootstrap.min.js"></script>
    <script defer src="/static/js/menu.js" type="text/javascript"></script>
    <script defer src="/static/js/search_products.js" type="text/javascript"></script>
    {% endcompress %}
    {% block script %}
    {% endblock %}
</body>
</html>