{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Wyrobienie pieczątki online w {{ object.name }}" />
<meta property="og:description" content="Wyrobienie pieczątki online w {{ object.name }}" />
<meta property="og:image" content="" />

<link rel="canonical" href="{{ get_domain }}{{ object.get_absolute_url }}" />
<meta name="description" content="{{ object.meta_description }}">
<title>Wyrobienie pieczątki online w {{ object.name }}</title>
{% endblock %}

{% block content %}
<div class="col-11 col-md-9 mx-auto mt-3 ml-0 mr-0 p-0 mt-2 row">
    <nav class="col-12 mx-auto" aria-label="breadcrumb" >
        <ol class="breadcrumb bg-white row">
            <li class="breadcrumb_element border border-breadcrumb rounded p-1 m-1"><a class="" href="{% url 'front_page' %}"><span>Strona główna</span></a></li>
            <span class="p-1 m-1">/</span>
            <li class="breadcrumb_element border border-breadcrumb rounded p-1 m-1"><a href="{% url 'index_citys_stamp_delivery' %}"><span>Indeks miast - wysyłka pieczątek on-line</span></a></li>
            <span class="p-1 m-1">/</span>
            <li class="breadcrumb_element border border-breadcrumb rounded p-1 m-1"><a href="{{ letter.get_absolute_url }}"><span>Lista miast na literę: {{ letter }}</span></a></li>
        </ol>
    </nav>
    <div class="col-12 mx-auto m-0 p-0">
        <h1 class="m-0 p-0">Wyrobienie pieczątki online w {{ object.name }}</h1>
    </div>
    <p class="m-0 p-0 mt-3 col-12">Link do działu:</p><a href="https://serwiswrybnej.pl/produkty/kategoria/pieczatki/pieczatki-firmowe/5">Pieczątki firmowe</a>
</div>
<div class="col-11 col-md-9 mx-auto mt-3 ml-0 mr-0 p-0 mt-2 row">
{% for point in inpost_boxes.items %}
    <div class="col-4 m-1 p-1 row d-flex align-items-start border border-warning">
        <p class="col-12 text-center m-0 p-0 mt-2 font-weight-bold">{{ point.name }}</p>
        <p class="col-12 text-center m-0 p-0">{{ point.location_description }}</p>
        <p class="col-12 text-center m-0 p-0">{{ point.address_details.street }} {{ point.address_details.building_number }}</p>
    </div>
{% endfor %}
</div>
{{ inpost_boxes }}
<div class="col-12 col-md-9 mx-auto text-center m-0 p-0 mt-3 row">
    {% for product in products %}
        <div itemscope itemtype="http://schema.org/Product" class="col-6 col-sm-4 col-xl-3 p-0 ml-0 mr-0 product ">
            <div id="showOption" class="col-12 row mx-auto d-flex align-items-center">
                <form id="form" action="{% url 'add_product' %}" method="POST" class="col-12 row m-0 p-0">
                    {% csrf_token %}
                    <input type="hidden" name="" id="prod_id" value="{{product.id}}">
                 <input id="qty" name="qty" type="hidden" value="1">
                 <a itemprop="url" href="{{ product.get_absolute_url }}" class="col-10 text-white align-self-stretch col-6 mx-auto d-flex align-items-center text-decoration-none text-center" style="height: 40px;">
                    <i class="fas fa-info-circle text-white align-self-center mx-auto col-12 m-0 p-0 "><span class="p-2 m-2">Details</span></i>
                </a>
                </form>
            </div>
            <div class="col-12 mx-auto text-center row">
                {% if product.is_news %}
                <div class="boxNovelty smallBox m-2">NEW</div>
                {% else %}
                <div class="smallBox m-2"></div>
                {% endif %}
                {% if product.discount > 0 %}
                <div class="boxPromo smallBox bg-danger m-2">{{ product.discount }}%</div>
                {% else %}
                <div class="smallBox m-2"></div>
                {% endif %}
            </div>
        <div class="col-12 m-2 mx-auto text-center">
            {% load thumbnail %}
            {% thumbnail product.image "200x200" crop='center' format="WEBP"  as im %}
            <img itemprop="image" src="{{ MEDIA_URL }}{{ im }}" class="img-thumbnail mx-auto col-12 m-0 p-0" alt="{{ product.alt }}" title="{{ product.title }}">
            {% endthumbnail %}
        </div>
            <p itemprop="name" class="productName col-12 mx-auto text-center text-uppercase">{{product.name}}</p>
            <span itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="col-12 m-0 p-0 mx-auto text-center">
                <p itemprop="name" class="producerName col-12 mx-auto text-center">{% if product.brand %}{{product.brand}}{% endif %}</p>
            </span>
            <blockquote class="col-12 mx-auto row d-flex align-items-center">
            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="producerPrice mx-auto text-center text-danger  m-0 p-0"><span itemprop="price">{{ product.price_promo}}</span> zł</p>
            {% if product.price_promo != product.price %}
            <p class="mx-auto text-center m-0 p-0"><del>{{ product.price}} zł</del></p>
            {% endif %}
            <small class="col-12 mx-auto text-center text-primary  m-0 p-0">Netto: {{product.price_netto}} + VAT 23%</small>
            {% if product.qty > 0 %}
                <div class="col-12 text-center m-1 mx-auto"><small class="text-success">Dostępny</small></div>
                <link itemprop="availability" href="https://schema.org/InStock" />
            {% else %}
            <div class="col-12 text-center m-1 mx-auto"><small class="text-danger">Niedostępny</small></div>
            <link itemprop="availability" href="https://schema.org/OutOfStock" />
            {% endif %}
            </blockquote>
        </div>
        {% empty %}
        <p class="col-12 mx-auto text-left">Wybierz kategorię w menu</p>
        {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load compress %}
    {% compress js %}
    <script src="/static/js/products.js" type="text/javascript"></script>
    {% endcompress %}

    {% block script_shop %}
    {% endblock %}
<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
    [
        {
       "@type": "ListItem",
       "position": 1,
       "item":
            {
            "@id": "{{ get_domain }}{% url 'front_page' %}",
            "name": "Strona główna"
            }
        },
        {
        "@type": "ListItem",
        "position": 2,
        "item":
            {
            "@id": "{{ get_domain }}{% url 'index_citys_stamp_delivery' %}",
            "name": "Sklep On-line"
            }
        },
        {
            "@type": "ListItem",
            "position": 2,
            "item":
                {
                "@id": "{{ letter.get_absolute_url }}",
                "name": "Indeks miast - wysyłka pieczątek on-line"
                }
            },
        {
            "@type": "ListItem",
            "position": 3,
            "item":
                {
                "@id": "{{ letter.get_absolute_url }}",
                "name": "Lista miast na literę: {{ letter }}"
            }
        }
     ]
    }
    </script>
{% endblock %}