{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="{% url 'index_city_detail_stamp_delivery' slug=letter.slug pk=letter.pk %}"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="Lista miast na literę: {{ letter }}" />
<meta property="og:description" content="Lista miast na literę: {{ letter }}" />
<meta property="og:image" content="" />

<link rel="canonical" href="{{ get_domain }}{% url 'index_city_detail_stamp_delivery' slug=letter.name pk=letter.pk %}" />
<meta name="description" content="{{ object.meta_description }}">
<title>Wysyłamy pieczątki do miast na literę: {{ letter }}</title>
{% endblock %}


{% block content %}
<div class="col-12 col-md-9 mx-auto mt-5 ml-0 mr-0 p-0 mt-2 row">
    <nav class="col-12 mx-auto" aria-label="breadcrumb" >
        <ol class="breadcrumb bg-white row">
            <li class="breadcrumb_element border border-breadcrumb rounded p-1 m-1"><a class="" href="{% url 'front_page' %}"><span>Strona główna</span></a></li>
            <span class="p-1 m-1">/</span>
            <li class="breadcrumb_element border border-breadcrumb rounded p-1 m-1"><a href="{% url 'index_citys_stamp_delivery' %}"><span>Indeks miast - wysyłka pieczątek on-line</span></a></li>
        </ol>
    </nav>
    <h1 class="col-12 mx-auto text-center row">Wysyłamy pieczątki do miast na literę: {{ letter }}</h1>
    {% for city in object_list %}
        <a class="col-xs-2 mx-left" href="{{ BASE_URL }}{{ city.get_absolute_url }}"><p class="col-12 mx-auto">{{ city.name }},&nbsp;</p></a>
    {% endfor %}
</div>

 <div class="col-12 input-group mb-3 mt-3 mx-auto text-center pagination">
        <div class=""></div>
        <div aria-label="..." class="row col-12 m-0 p-0 justify-content-center mx-auto text-center">
        <span class="step-links">
        <ul class="pagination row text-dark pagination pagination-lg flex-wrap text-wrap mx-auto text-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page=1">&laquo; Początek</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">prev.</a>
            </li>
            {% endif %}

            <li class="page-item text-light active">
                <span class="page-link text-white">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item text-dark">
                <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">next.</a>
            </li>
            <li class="page-item text-dark">
                <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">Koniec &raquo;</a>
            </li>
            {% endif %}
        </ul>
        </span>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="application/ld+json">
    {
     "@context": "https://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
    [
        {
       "@type": "ListItem",
       "position": 1,
       "item":
            {
            "@id": "{{ get_domain }}{% url 'front_page' %}",
            "name": "Strona główna"
            }
        },
        {
        "@type": "ListItem",
        "position": 2,
        "item":
            {
            "@id": "{{ get_domain }}{% url 'index_citys_stamp_delivery' %}",
            "name": "Indeks miast - wysyłka pieczątek on-lineIndeks miast - wysyłka pieczątek on-line"
            }
        }
     ]
    }
    </script>
{% endblock %}