{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<meta name=”robots” content=”noindex”>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{% static "css/checkout.css" %}" />
{% endcompress %}

{% load compress %}
{% compress js %}
<script src="{% static "js/client.js" %}" defer></script>
{% endcompress %}

{% endblock %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row">
  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'front_page' %}">Strona startowa</a></li>
  <li class="breadcrumb-item text-dark active" aria-current="page">Płatności</li>
</nav>
<input type="hidden" id="order_id" value="{{ order.id }}">
<div class="col-12 mx-auto">
  
    <form id="payment-form" class="mx-auto col-12 col-md-5 row mb-2">
      <p class="col-12">Kwota do zapłaty: <strong>{{ order.total_price }}</strong>PLN</p>
        <input id="p_i_sec" type="hidden" value="{{PAYMENT_INTENT_CLIENT_SECRET}}">
        <input id="public_key" type="hidden" value="{{PUBLIC_KEY}}">
        <div class="form-row col-12 mx-auto">
          <label for="accountholder-name">
            Imie i Nazwisko
          </label>
          <input type="text" required id="accountholder-name" name="accountholder-name" value="{% if user.first_name %}{{ user.first_name }} {% if user.last_name %} {{ user.last_name }}{% endif %}{% endif %}">
        </div>
        <div class="form-row col-12 mx-auto">
          <label for="accountholder-email">
            Email
          </label>
          <input id="accountholder-email" name="accountholder-email" value="{{ user.email }}"> 
        </div>
      
        <div class="form-row col-12 mx-auto">
          <!--
            Using a label with a for attribute that matches the ID of the
            Element container enables the Element to automatically gain focus
            when the customer clicks on the label.
          -->
          <label for="p24-bank-element" class="col-12 mx-auto">
            <img class="col-12 col-md-4 mx-auto" src="/media/logo/baner_kwadrat2_płatności_popularne.png" alt="">
          </label>
          <div id="p24-bank-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
        </div>
      
        <button class="btn btn-outline-success mx-auto">Płatność: Przelewy24</button>
      
        <!-- Used to display form errors. -->
        <div id="error-message" role="alert"></div>
      </form>
</div>
{% endblock %}


{% block script %}
{% endblock %}