{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}


{% block head %}
<meta name=”robots” content=”noindex”>
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row">
    <li class="breadcrumb-item active" aria-current="page"><a href="">Strona startowa</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Płatność zakończona sukcesem</li>
  </nav>

<div class="col-12 mx-auto text-center m-0 p-0 row d-flex align-items-start">
    <h1 class="mx-auto col-12">Płatność została wykonana.</h1>
    <h3 class="mx-auto col-12">Numer zamówienia: <b>{{ order.number }}</b></h2>
    <h3 class="mx-auto col-12">Typ dokumnetu: <b>{% if order.invoice_created and order.pdf_created %} Faktura {% else %}Paragon {% endif %}</b></h2>
    <p class="mx-auto col-12">{% if order.pdf_created and order.invoice_created %} <a href="{{ MEDIA_URL }}pdf/faktura_{{order.invoice_created.pdf }}" download="{{ MEDIA_URL }}pdf/faktura_{{order.invoice_created.pdf }}"><i class="text-success fas fa-file-invoice link_invoice"></i></a>{% endif %}</p>
    <h3 class="mx-auto col-12">Wysyłka inpost-paczkomaty do:</h2>
    <p class="mx-auto col-12"><b>{{ order.inpost_box }}</b></p>
</div>

{% endblock %}

{% block script %}
{% endblock %}