{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}


{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="{{cannonical}}">
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row">
    <li class="breadcrumb-item active" aria-current="page"><a href="">Strona startowa</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Płatność zakończona sukcesem</li>
  </nav>

<div class="col-12 mx-auto text-center m-0 p-0 row d-flex align-items-start">
    <h1>Udana płatność</h1>
</div>

{% endblock %}

{% block script %}
{% endblock %}