{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="{{ get_domain }}{{ object.get_absolute_url }}"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:image" content="{{ MEDIA_URL }}{{ object.image }}" />
<meta property=”og:description” content="{{ object.meta_description }}" />

<link href="/static/lightbox/dist/css/lightbox.css" rel="stylesheet" />
<link rel="canonical" href="{{ get_domain }}{{ object.get_absolute_url }}"/>
<meta name="description" content="{{ object.meta_description }}">
<title>{{ object.meta_title }}</title>
{% endblock %}


{% block content %}
<div class="col-12 col-md-9 mx-auto ml-0 mr-0 p-0 offer mt-2 row">
    <nav class="col-12 mx-auto" aria-label="breadcrumb" >
        <ol class="breadcrumb bg-white row d-flex align-items-start" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="p-1 m-1 row " itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <a class="col-12 breadcrumb_element border border-breadcrumb rounded mx-auto text-center" href="{% url 'articles_list' %}" itemprop="item">
                    <span itemprop="name">Blog</span>
                </a><meta itemprop="position" content="1" />
            </li>
            <li class="p-1 m-1 row " itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
                <a class="col-12 breadcrumb_element border border-breadcrumb rounded mx-auto text-center" href="{{ object.get_absolute_url }}" itemprop="item">
                    <span itemprop="name">{{ object.title }}</span>
                </a><meta itemprop="position" content="2" />
            </li>
        </ol>
    </nav>
</div>

<div class="col-12 col-md-9 mx-auto ml-0 mr-0 p-0 offer mt-2 row">
    <h1 class="col-11 text-center mx-auto mt-3 mb-3">{{ object.title }}</h1>
    <span class="col-12 text-center mb-3">{{ object.category.name }}</span>
    <div class="col-12 col-sm-11 m-0 p-0 mb-3 mx-auto imgWrap">
        {% thumbnail object.image "800x300" crop='center' format="WEBP" as im %}
        <source srcset="{{ im }}" type="image/webp" />
        <img width="800" height="300" class="img-fluid mx-auto col-12 m-0 p-0" src="{{ MEDIA_URL }}{{ im }}"
            alt="{{ object.image_alt }}" title="{{ object.image_title }}">
        {% endthumbnail %}
    </div>
    <p class="col-10 mx-auto text-center text-danger">{{ object.created_time }}</p>
    <div class="col-12 mx-auto col-sm-11 m-0 p-0 mb-3 mx-auto row">
        {{ object.body|safe }}
    </div>
    {% for image in object.images %}
            {% load thumbnail %}
            {% thumbnail image.image "1280" crop='center' format="WEBP"  as im %}
            <a href="{{ MEDIA_URL }}{{ im }}" data-lightbox="{{ image.article.id }}" data-title="{{ image.article.name}}"
                class="mx-auto text-center p-0 m-0 mt-2" title="Galeria dla artykułu {{ object.title }}">
                {% thumbnail  image.image "150" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto m-1 border" src="{{ MEDIA_URL }}{{ im }}" alt="{{image.alt}}" title="{{image.title}}">
                {% endthumbnail %}
            </a> 
            {% endthumbnail %}
            {% empty %}
            <small class="ml-auto pr-1 col-12 text-center">Brak zdjęć w galerii</small>
            {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/lightbox/dist/js/lightbox.js"></script>
<script>
    lightbox.option({
        'albumLabel': "Zdjęcie %1 z %2"
    })
</script>
<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Article",
      "name": "{{ object.title }}",
      "image": ["{{ get_domain }}{{ MEDIA_URL }}{{ object.image }}"{% if object.images %},{% endif %}
      {% for image in object.images %}"{{ get_domain }}{{ MEDIA_URL }}{{ image.image }}"{% if not forloop.last %},{% endif %}{% endfor %}
      ],
      "description": "{{ object.meta_description }}",
      "contentReferenceTime": "{{ object.created_time }}"
    }
    </script>
{% endblock %}