{% extends "front_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{ app_id }}" />
<meta property="og:url" content="{{ get_domain }}/blog"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="Artykuły związane z ofertą dostępną w serwisie w Rybnej i nie tylko." />
<meta property="og:image" content="{{ MEDIA_URL }}{{ object.image }}" />
<meta property=”og:description” content="Lista artykułów związana z tematem prowadzonych usług i oferty produktów w serwisie w Rybnej." />

<link rel="canonical" href="{{ get_domain }}/blog/artykuly"/>
<meta name="description" content="Blog. Artykuły z branży serwisu telefonów komórkowych, dorabiania kluczy samochodowych oraz wyrabiania pieczątek.">
<title>Blog | Lista artykułów z branży serwisu telefonów komórkowych.</title>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row">
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'front_page' %}">Strona startowa</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Blog</li>
</nav>

<div id="newsInfo" class="col-11 col-md-9 ml-0 mr-0 p-0 mx-auto row offer mt-2 news">
    <h1 class="col-11 ml-3 pl-1">Artykuły tematyczne</h1>
    {% for article in object_list %}
    <div class="col-12 text-center p-0 ml-0 mr-0 mb-3 article row border-bottom">
        <div class="col-12 col-sm-3 m-0 p-0 mx-auto imgWrap mb-3 align-self-start">
            {% thumbnail article.image "200x150" crop='center' format="WEBP" as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <img loading="lazy" width="200" height="150" class="img-fluid mx-auto col-12 m-0 p-0"
                src="{{ MEDIA_URL }}{{ im }}" alt="{{ article.image_alt }}" title="{{ article.image_title }}">
            {% endthumbnail %}
        </div>
        <div class="col-md-9 mx-auto text-center m-0 p-0 mb-3 row">
            <p class="producerPrice col-10 mx-auto text-center text-danger ">{{ article.created_time }}</p>
            <span class="col-12 text-center mb-3">{{ article.category.name }}</span>
            <a href="{{ BASE_URL }}{{article.get_absolute_url }}"
            class="new_title col-11 mx-auto text-justify text-center">{{ article.title }}</a>
            <p class="col-11 mx-auto text-justify m-0 p-0 mt-2 mb-2">{{ article.body|slice:":290"|safe }}...</p>
            <a class="readArticle col-12 mx-auto text-center text-danger mt-2"
            href="{{ BASE_URL }}{{article.get_absolute_url }}">Przejdź do artykułu.</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block script %}
{% endblock %}