* {
    margin: 0px;
    padding: 0px;
    transition: .5s;
    font-family: 'Open Sans',sans-serif;
}

main {
    min-height: 200vh;
}


div.top {
    background-color: blueviolet;
    height: 100px;
}

nav {
    height: 50px;
}

.nav i  {
    font-size: 22px;
}

.red {
    color: red;
}

.rotate {
    transform: rotate(180deg);
}

.dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

#BasketInfo {
    position: relative;
}

.quantityBasket {
    position:absolute;
    top: -20%;
    right: 20%;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

#nav_main {
    position: relative;
    background-color: white;
    z-index: 9999;
}

#nav_main.fixed_menu {
    position: fixed;
    top: 0;
    left: 0;
}

#navbarTogglerMenu {
    position: fixed;
    top: 150px;
    left: -100%;
    min-height: 656;
    z-index: 9999;
    background-color: black;
    transition: 0.5s;
    }

#navbarTogglerMenu.show {
    left: 0;
}

.collapse_menu {
    background-color:gray;
}

#nav_menu a{
    color: white;
}

#nav_menu i{
    color: white;
}

#nav_menu li {
    border-bottom: white 1px solid;
}

#nav_menu ul {
    border-bottom: white 1px solid;
   }

#nav_menu {
    height: 656;
    overflow: auto;
    -webkit-overflow-scrolling:touch; 
}

.carousel-item img {
    object-fit: cover;
    height: 135px;
}

img {
    max-width: 100%;
    height: auto;
}

#SearchForm {
    position: fixed;
    background-color: white;
    height: 100vh;
    z-index: 1000;
    top: 150px;
    left: -100%;
    transition: 0.5s;
}

#SearchForm.show {
    left: 0;
}

#SearchForm div {
    background: #2d2547;
    height: 80px;
}

#SearchForm input {
    background: #2d2527;
    height: 70px;
    font-size: 22px;
    color: white;
}

#clearText {
    color: #2d2527;
}

#clearText.show {
    color: white;
}

#SearchForm input {
    background: #2d2527;
    height: 70px;
    font-size: 22px;
    color: white;
}

div.offer {
    margin-top: 60px;
}

.offer h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.product {
    margin-top: 65px;
}

.boxNovelty {
    background-color: blueviolet;
}

.smallBox{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.productName {
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
}

.producerName {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.producerPrice {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    color: red;
}