{% extends "products/base_shop.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load thumbnail %}


{% block head %}
<!-- <meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="{{cannonical}}"> -->
<meta name=”robots” content=”noindex”>
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row">
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'front_page' %}">Strona startowa</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Podsumowanie</li>
  </nav>

<div class="col-12 col-md-8 mx-auto text-center m-0 p-0 row d-flex align-items-start">
    <main class="col-lg-12 mx-auto row m-0 p-0 row">
        <div class="col-12 text-left headline m-0 p-0 offer row">
            <h1 class="col-12 m-0 p-0">SZCZEGÓŁY ZAMÓWIENIA:</h1>
            <div class="col-12 text-left headline m-0 p-0 mt-2 offer row"></div>
            <p class="text-danger mr-2">Kwota do zapłaty:</p><strong id="cart_total_price" data-total_price="{{cart.get_total_price|floatformat:2}}">{{cart.get_total_price|floatformat:2}} PLN</strong>
        </div>
        <form method="post" class="uniForm col-md-8 m-0 p-0 mt-2 mb-2 mx-auto text-center blueForms">
            {% csrf_token %}
            <small class="text-danger col-12">{{ form.bill_select.errors }}</small>
            <label for="id_bill_select" class="requiredField col-12 m-0 p-0 align-self-center">{{ form.fields.bill_select.label }}</label>
            <select id="id_bill_select" name="bill_select" class="form-control input-md" required>
                {% for key, value in form.fields.bill_select.widget.choices %}
                    <option value="{{ value }}"{% if form.initial.bill_select == value %} selected {% endif %}>
                        {{ key }}
                    </option>
                {% endfor %}
            </select>
            <small class="text-danger col-12">{{ form.delivery_method.errors }}</small>
            <label for="id_delivery_method" class="requiredField col-12 m-0 p-0 mt-3 align-self-center">{{ form.fields.delivery_method.label }}</label>
            {% for el in form.fields.delivery_method.queryset %}
            <div id="id_delivery_method" class="controls col-12 row d-flex align-items-center mt-2" >
                {% if el.default %}
                <input class="delivery_methods text-left m-0 p-0 col-1" type="radio" name="delivery_method" id="id_delivery_method_{{ forloop.counter0 }}" value="{{ el.id }}" required checked data-delivery_cost="{{el.price}}">
                {% else %}
                <input class="delivery_methods m-0 p-0 col-1" type="radio" name="delivery_method" id="id_delivery_method_{{ forloop.counter0 }}" value="{{ el.id }}" required data-delivery_cost="{{el.price}}">
                {% endif %}
                <label aria-colcount="" for="id_delivery_method_{{ forloop.counter0 }}" class="text-left radio m-0 p-0 col-10">{{ el }} + {{ el.price }}zł</label>
                {% load thumbnail %}
                {% thumbnail el.image "100x50" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto m-0 p-0 mr-auto " src="{{ MEDIA_URL }}{{ im }}"
                    alt="{{item.product.product_id.alt}}" title="{{item.product.product_id.title}}">
                {% endthumbnail %}
                {% if el.link %}
                <a href="{{el.link}}">regulamin</a>
                {% endif %}
            </div>
            {% endfor %}
            <small class="text-danger col-12">{{ form.payment_method.errors }}</small>
            <label for="id_payment_method" class="requiredField col-12 m-0 p-0 mt-3 align-self-center">{{ form.fields.payment_method.label }}</label>
            {% for el in form.fields.payment_method.queryset %}
            <div class="controls col-12 row d-flex align-items-center mt-2">
                {% if el.default %}
                <input class="text-left m-0 p-0 col-1" type="radio" name="payment_method" id="id_payment_method_{{ forloop.counter0 }}" value="{{ el.id }}" required checked>
                {% else %}
                <input class="text-left m-0 p-0 col-1" type="radio" name="payment_method" id="id_payment_method_{{ forloop.counter0 }}" value="{{ el.id }}" required>
                {% endif %}
                <label aria-colcount="" for="id_payment_method_{{ forloop.counter0 }}" class="text-left radio m-0 p-0 col-5">{{ el }}</label>
                {% load thumbnail %}
                {% thumbnail el.image "100x50" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto m-0 p-0 mr-auto " src="{{ MEDIA_URL }}{{ im }}"
                    alt="{{item.product.product_id.alt}}" title="{{item.product.product_id.title}}">
                {% endthumbnail %}
                {% if el.link %}
                <a href="{{el.link}}">regulamin</a>
                {% endif %}
            </div>
            {% endfor %}
            <div class="col-md-12 p-1 mx-auto text-center  row d-flex align-items-stretch justify-content-center">
                <a href="" class="col-11">
                  <label for="id_rules" class="col-12 requiredField m-0 p-0 align-self-center">
                    Zapoznałem się z regulaminem sklepu<span class="asteriskField ">*</span>
                  </label></a>
                <input type="checkbox" name="rules" class="col-1 checkboxinput align-self-center" required="" id="id_rules" >
              </div>
            <div id="easypack-map" style="display: block;"></div>
            <div class="col-12 mx-auto text-center mt-3">
                <button id="button" class="col-12 text-center mx-auto btn-outline-success" type="submit"
                        value="">Zamawiam z obowiązkiem zapłaty</button>
            </div>
        </form>
    </main>
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static "js/order_details.js" %}" type="text/javascript"></script>
{% endblock %}